.smallNav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 10px;
  }
  
  .smallNav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-weight: bold;
  }
  
  .main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
  }
  
  .slider-video {
    width: 100%;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .nav-btn {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .nav-btn.left {
    left: 10px;
  }
  
  .nav-btn.right {
    right: 10px;
  }
  
  .nav-btnW:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .dots {
    position: absolute;
    bottom: -30px;
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background: #bbb;
    border-radius: 50%;
    transition: background 0.3s;
  }
  
  .dot.active {
    background: pink;
    transform: scale(1.2);
  }
  
 